<div class="container" style="text-align: center;">
    <h1>About</h1>
    <p style="text-align: justify;"><br>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis perferendis accusamus enim labore? Laboriosam aliquam voluptas maxime, in eligendi error beatae culpa incidunt doloribus corporis! Necessitatibus natus quas consequatur aliquam! Quis mollitia sapiente aliquam, accusamus aut, quo hic nemo omnis, quasi ad fugiat amet ullam qui non illo itaque labore!
    </p>
</div>